# Groq API (https://console.groq.com)
GROQ_API_KEY=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
GROQ_PRIMARY_MODEL=llama-3.1-8b-instant
GROQ_CONTEXT_MODEL=llama-3.3-70b-versatile

# Database (Postgres example shown; MySQL also supported)
# Postgres:
DATABASE_URL=postgresql+psycopg2://hcp_user:hcp_pass@localhost:5432/hcp_crm
# MySQL alternative:
# DATABASE_URL=mysql+pymysql://hcp_user:hcp_pass@localhost:3306/hcp_crm

APP_ENV=development
